
body{
    background-color:lightgray;
    max-width: 900px;
    text-align: center;
    font-size: 18px;
    color:black;
    font-family: Ubuntu;
}
#main{
    margin-left: 350px;
    min-width: 400px;
}
canvas.a{
    margin-top: 750px;
    margin-left: 10px;
    display: block;
    position: absolute;
}
canvas.b {
    margin-top: 100px;
    margin-left: 10px;
    display: block;
    position: absolute;
}

#alphabet:after {
    content: "";
    display: table;
    clear: both;
    margin:0 auto;
}

#alphabet button {
    float: left;
    margin: 0 10px 10px 0;
    list-style: none;
    width: 40px;
    height: 40px;
    background: blue;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: solid 1px #fff;
    text-align: center;
}
#alphabet button:hover {
    background: lightblue;
    color: black;
}
#categoryName{
    text-align: center;
    background: cadetblue;
    color:black;
    font-size: 25px;
    font-family: Ubuntu;
    min-width: 400px;
    max-width: 500px;
    margin:0 auto;
}
#tryButton{
    width: 75px;
    height: 40px;
    background: blue;
    font-size: 20px;
    color:white;
    font-family :Ubuntu;
    border-radius: 5px;
    border: solid 2px #fff;
}
#tryButton:hover{
    background: lightblue;
    color: black;
}
#tryText{
    width: 200px;
    height: 30px;
    background: white;
    font-size: 20px;
    color:blue;
    font-family :Ubuntu;
    border-radius: 5px;
    border: solid 2px blue;
    margin:0 auto;
}
button{
    width: 250px;
    height: 100px;
    background: blue;
    font-size: 40px;
    color:white;
    font-family :Ubuntu;
    border-radius: 20px;
    border: solid 3px #fff;
}
button:hover {
    background: lightblue;
    color: black;
}
#end{
    min-width: 350px;
}

