
body{
    background-color:lightgray;
    max-width: 900px;
    text-align: center;
    font-size: 18px;
    color:black;
    font-family: Ubuntu;
}
#main{
    margin-left: 250px;
    min-width: 400px;
}
canvas.a{
    margin-top: 700px;
    margin-left: 10px;
    display: block;
    position: absolute;
}

canvas.b {
    margin-top: 70px;
    margin-left: 10px;
    display: block;
    position: absolute;
}
img.a{
    width: 50px;
    height: 50px;
    visibility: hidden;
    position: absolute ;
    display: block;
    margin-left: 25px;
}
#alphabet:after {
    content: "";
    display: table;
    clear: both;
    margin:0 auto;
}

#alphabet button {
    float: left;
    margin: 0 10px 10px 0;
    list-style: none;
    width: 40px;
    height: 40px;
    background: blue;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: solid 1px #fff;
    text-align: center;
}
#alphabet button:hover {
    background: lightblue;
    color: black;
}
#categoryName{
    text-align: center;
    background-color: rgba(0, 54, 166, 0.4);
    color:black;
    font-size: 25px;
    font-family: Ubuntu;
    min-width: 300px;
    max-width: 300px;
    margin:0 auto;
}
#category{
    height: 40px;
    background: white;
    font-size: 20px;
    color:blue;
    font-family :Ubuntu;
    border-radius: 5px;
    border: solid 2px blue;
}
#tryButton, #playButton{
    width: 75px;
    height: 40px;
    background: blue;
    font-size: 20px;
    color:white;
    font-family :Ubuntu;
    border-radius: 5px;
    border: solid 2px #fff;
}
#tryButton:hover,#playButton:hover {
    background: lightblue;
    color: black;
}
#tryText{
    width: 200px;
    height: 30px;
    background: white;
    font-size: 20px;
    color:blue;
    font-family :Ubuntu;
    border-radius: 5px;
    border: solid 2px blue;
    margin:0 auto;
}

button{
    width: 175px;
    height: 50px;
    background: blue;
    font-size: 30px;
    color:white;
    font-family :Ubuntu;
    border-radius: 10px;
    border: solid 3px #fff;
}
button:hover {
    background: lightblue;
    color: black;
}
#end{
    min-width: 400px;
}

